body {
    box-sizing: border-box;
    margin: 0;
}

.completed{
    text-decoration: line-through;
}



p{
    cursor: pointer;
}

#root{
    height: 100vh;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(94, 230, 184);
}

.main h2{
    font-size: 3rem;
    font-style: italic;
}


form{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 2rem 3rem 2rem;

}



form .item{
    grid-column: 1/ 5;
    grid-row: 2/3;
}
form .search {
    grid-column: 4/5;
}



form button{
    cursor: pointer;
    color:rgb(0, 0, 0);
    background-color: rgb(129, 241, 245);
    border: 1px solid rgb(94, 230, 184);
}

form button:hover{
    border: 2px solid rgb(50, 126, 100);
}

form .add_btn{
    grid-column: 1/2;
}

form .search_btn{
    grid-column: 4/5;
}